{% extends "base.html" %}
{% set page = 'home' %}
{% block content %}
    <h1>利用者確認画面 {{formatted_date}}</h1>
    {% for post in posts %}
    <article>
        <div class="card w-75 mb-3 bg-dark"> <!-- bg-dark を追加 -->
            <div class="card-body">
              <h5 class="card-title text-white">部屋番号:{{ post.room_num }}</h5> <!-- text-white を追加 -->
              <p class="card-text text-white">利用者名：{{ post.user_name }}</p> <!-- text-white を追加 -->
              <a href="/update/{{post.id}}" role="button" class="btn btn-primary">編集</a> <!-- Bootstrapのbtn-primaryを使用 -->
              <a href="/delete/{{post.id}}" role="button" class="btn btn-danger">削除</a> <!-- Bootstrapのbtn-dangerを使用 -->
            </div>
          </div>   
    </article>
    {% endfor %}
{% endblock %}
